Repository commercetools/test-data, changes with the owners that .github/CODEOWNERS names for each.
All owners: @commercetools/merchant-center-tech-leadership, @commercetools/test-automation-engineers, @commercetools/bots-team-engineers, @commercetools/customers-team-fe, @commercetools/pdm-team-fe, @commercetools/checkout-team-fe, @commercetools/priceless-team-fe, @commercetools/context-team-fe, @commercetools/pangolin-team-fe, @commercetools/craft-team-fe

.github/CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.

# Rules of code ownership
# -----------------------
# 1. Ideally all files in this repository have an owner - it is accepted that this is unlikely to happen
# 2. We avoid broad ownership rules as much as possible and prefer more granular assignments
# 3. Applications can be co-owned. If they are co-owned we should:
#     2.1 Have one ownership rule for the entire application first, pointing to all teams owning the application (1)
#     2.2 Have granular rules as good as possible to different parts of the application code, which take precedence over the broader rules (order of rules definition is important) (2)
# 4. This file is grouped by applications and/or folders not by teams
#     4.1 The order of rules within this file should match the default directory ordering

# GitHub
/.github/CODEOWNERS @commercetools/merchant-center-tech-leadership

# Tooling
/standalone/src/core/ @commercetools/merchant-center-tech-leadership @commercetools/test-automation-engineers
/standalone/src/utils/ @commercetools/merchant-center-tech-leadership @commercetools/test-automation-engineers
/generators/ @commercetools/merchant-center-tech-leadership @commercetools/test-automation-engineers
/codegen* @commercetools/bots-team-engineers

# Models
/standalone/src/models/ @commercetools/merchant-center-tech-leadership @commercetools/test-automation-engineers

/standalone/src/models/associate-role @commercetools/customers-team-fe
/standalone/src/models/attribute-group @commercetools/pdm-team-fe
/standalone/src/models/business-unit @commercetools/customers-team-fe
/standalone/src/models/cart @commercetools/checkout-team-fe
/standalone/src/models/cart-discount @commercetools/priceless-team-fe
/standalone/src/models/category @commercetools/pdm-team-fe
/standalone/src/models/channel @commercetools/context-team-fe
/standalone/src/models/custom-view @commercetools/bots-team-engineers
/standalone/src/models/customer @commercetools/customers-team-fe
/standalone/src/models/customer-group @commercetools/customers-team-fe
/standalone/src/models/discount-code @commercetools/priceless-team-fe
/standalone/src/models/discounts-custom-view @commercetools/priceless-team-fe
/standalone/src/models/filter-values @commercetools/priceless-team-fe
/standalone/src/models/inventory-entry @commercetools/pdm-team-fe
/standalone/src/models/order @commercetools/checkout-team-fe
/standalone/src/models/payment @commercetools/checkout-team-fe
/standalone/src/models/product @commercetools/pdm-team-fe
/standalone/src/models/product-discount @commercetools/priceless-team-fe
/standalone/src/models/product-projection @commercetools/pdm-team-fe
/standalone/src/models/product-selection @commercetools/context-team-fe
/standalone/src/models/product-type @commercetools/pdm-team-fe
/standalone/src/models/project @commercetools/bots-team-engineers
/standalone/src/models/quote @commercetools/customers-team-fe
/standalone/src/models/quote-request @commercetools/customers-team-fe
/standalone/src/models/shipping-method @commercetools/checkout-team-fe
/standalone/src/models/shopping-list @commercetools/checkout-team-fe
/standalone/src/models/staged-quote @commercetools/customers-team-fe
/standalone/src/models/standalone-price @commercetools/priceless-team-fe
/standalone/src/models/store @commercetools/context-team-fe
/standalone/src/models/tax-category @commercetools/checkout-team-fe
/standalone/src/models/zone @commercetools/checkout-team-fe

/standalone/src/models/*/change-history-* @commercetools/pangolin-team-fe
/standalone/src/models/*/sample-data-* @commercetools/craft-team-fe

# Sample data preset directories
**/presets/sample-data-b2c-lifestyle/ @commercetools/craft-team-fe
**/presets/sample-data-b2b/ @commercetools/craft-team-fe
**/presets/sample-data-fashion/ @commercetools/craft-team-fe

fix(store): adjust ts types in presets
  standalone/src/models/store/store/store-draft/presets/sample-data-b2b/de-fr-uk.ts
  standalone/src/models/store/store/store-draft/presets/sample-data-b2b/default-store.ts
  standalone/src/models/store/store/store-draft/presets/sample-data-b2b/spain.ts
  standalone/src/models/store/store/store-draft/presets/sample-data-b2b/us-large-customers.ts
  standalone/src/models/store/store/store-draft/presets/sample-data-b2b/us-medium-customers.ts
Owners: @commercetools/craft-team-fe

fix(store): adjust tests names
  standalone/src/models/store/product-selection-setting/product-selection-setting-draft/presets/sample-data-b2b/default-product-selection.spec.ts
  standalone/src/models/store/product-selection-setting/product-selection-setting-draft/presets/sample-data-b2b/us-medium-customers-catalog-product-selection.spec.ts
  standalone/src/models/store/store/store-draft/presets/sample-data-b2b/de-fr-uk.spec.ts
  standalone/src/models/store/store/store-draft/presets/sample-data-b2b/default-store.spec.ts
  standalone/src/models/store/store/store-draft/presets/sample-data-b2b/spain.spec.ts
  standalone/src/models/store/store/store-draft/presets/sample-data-b2b/us-large-customers.spec.ts
  standalone/src/models/store/store/store-draft/presets/sample-data-b2b/us-medium-customers.spec.ts
  standalone/src/models/store/store/store-draft/presets/sample-data-b2c-lifestyle/b2c-retail-store.spec.ts
  standalone/src/models/store/store/store-draft/presets/sample-data-fashion/store-01.spec.ts
  standalone/src/models/store/store/store-draft/presets/sample-data-fashion/store-02.spec.ts
  standalone/src/models/store/store/store-draft/presets/sample-data-fashion/store-03.spec.ts
Owners: @commercetools/craft-team-fe

fix(store): adjust model for compatibility mode
  standalone/src/models/store/store/fields-config.ts
Owners: @commercetools/context-team-fe

chore: add missing changeset
  .changeset/sad-phones-kick.md
Owners: none

chore: add missing changeset (#861)
  .changeset/sad-phones-kick.md
Owners: none

refactor(core): update postbuild behaviour
  standalone/src/core/builder.ts
  standalone/src/core/types.ts
Owners: @commercetools/merchant-center-tech-leadership, @commercetools/test-automation-engineers

refactor(models): update postbuild usage
  standalone/src/models/cart/cart/cart/fields-config.ts
  standalone/src/models/cart/cart/custom-line-item/builders.spec.ts
  standalone/src/models/cart/cart/custom-line-item/field-config.ts
  standalone/src/models/cart/cart/discounted-line-item-portion/discounted-line-item-portion-draft/builders.spec.ts
  standalone/src/models/cart/cart/discounted-line-item-portion/fields-config.ts
  standalone/src/models/cart/cart/discounted-total-price-portion/fields-config.ts
  standalone/src/models/cart/cart/line-item/field-config.ts
  standalone/src/models/cart/cart/shipping-info/fields-config.ts
  standalone/src/models/channel/fields-config.ts
  standalone/src/models/commons/discounted-line-item-portion/fields-config.ts
  standalone/src/models/inventory-entry/fields-config.ts
  standalone/src/models/product-type/attribute-definition/attribute-definition-draft/fields-config.ts
  standalone/src/models/product-type/attribute-definition/fields-config.ts
  standalone/src/models/product-type/attribute-localized-enum-value/fields-config.ts
  standalone/src/models/product-type/product-type/fields-config.ts
  standalone/src/models/product-type/product-type/product-type-draft/fields-config.ts
  standalone/src/models/product-type/product-type/product-type-draft/presets/empty.ts
  standalone/src/models/product/product-projection/fields-config.ts
  standalone/src/models/product/product-selection/fields-config.ts
  standalone/src/models/product/product-tailoring/product-tailoring-data/fields-config.ts
  standalone/src/models/product/product-tailoring/product-tailoring/fields-config.ts
  standalone/src/models/product/product/product-data/builders.spec.ts
  standalone/src/models/product/product/product-data/fields-config.ts
  standalone/src/models/recurring-order/recurrence-policy/fields-config.ts
  standalone/src/models/store/product-selection-setting/fields-config.ts
  standalone/src/models/store/store/fields-config.ts
Owners: @commercetools/checkout-team-fe, @commercetools/context-team-fe, @commercetools/merchant-center-tech-leadership, @commercetools/test-automation-engineers, @commercetools/pdm-team-fe

chore: update docs
  docs/contributing/test-data-models-overview.md
  docs/guidelines/creating-new-model.md
  docs/guidelines/migrating-existing-model.md
Owners: none

chore: add changeset
  .changeset/public-experts-drive.md
Owners: none

feat(custom-fields): adding custom fields model
  standalone/custom-fields/package.json
  standalone/package.json
  standalone/src/custom-fields.ts
  standalone/src/models/custom-fields/builders.spec.ts
  standalone/src/models/custom-fields/builders.ts
  standalone/src/models/custom-fields/custom-fields-draft/builders.spec.ts
  standalone/src/models/custom-fields/custom-fields-draft/builders.ts
  standalone/src/models/custom-fields/custom-fields-draft/fields-config.ts
  standalone/src/models/custom-fields/custom-fields-draft/index.ts
  standalone/src/models/custom-fields/custom-fields-draft/presets/index.ts
  standalone/src/models/custom-fields/custom-fields-draft/presets/with-all-field-types.spec.ts
  standalone/src/models/custom-fields/custom-fields-draft/presets/with-all-field-types.ts
  standalone/src/models/custom-fields/custom-fields-draft/presets/with-string-field.spec.ts
  standalone/src/models/custom-fields/custom-fields-draft/presets/with-string-field.ts
  standalone/src/models/custom-fields/fields-config.ts
  standalone/src/models/custom-fields/index.ts
  standalone/src/models/custom-fields/presets/index.ts
  standalone/src/models/custom-fields/presets/with-all-field-types.spec.ts
  standalone/src/models/custom-fields/presets/with-all-field-types.ts
  standalone/src/models/custom-fields/presets/with-string-field.spec.ts
  standalone/src/models/custom-fields/presets/with-string-field.ts
  standalone/src/models/custom-fields/types.ts
Owners: @commercetools/merchant-center-tech-leadership, @commercetools/test-automation-engineers

feat(changeset): adding changeset
  .changeset/heavy-showers-jog.md
Owners: none

fix(types): fixing typecheck
  standalone/src/models/custom-fields/builders.spec.ts
  standalone/src/models/custom-fields/custom-fields-draft/builders.spec.ts
Owners: @commercetools/merchant-center-tech-leadership, @commercetools/test-automation-engineers

chore: add recurring order models
  standalone/src/models/recurring-order/recurring-order/builders.spec.ts
  standalone/src/models/recurring-order/recurring-order/builders.ts
  standalone/src/models/recurring-order/recurring-order/constants.ts
  standalone/src/models/recurring-order/recurring-order/fields-config.ts
  standalone/src/models/recurring-order/recurring-order/index.ts
  standalone/src/models/recurring-order/recurring-order/presets/index.ts
  standalone/src/models/recurring-order/recurring-order/recurring-order-draft/builders.spec.ts
  standalone/src/models/recurring-order/recurring-order/recurring-order-draft/builders.ts
  standalone/src/models/recurring-order/recurring-order/recurring-order-draft/fields-config.ts
  standalone/src/models/recurring-order/recurring-order/recurring-order-draft/index.ts
  standalone/src/models/recurring-order/recurring-order/recurring-order-draft/presets/index.ts
  standalone/src/models/recurring-order/recurring-order/types.ts
Owners: @commercetools/merchant-center-tech-leadership, @commercetools/test-automation-engineers

chore: adding counter models
  standalone/src/models/recurring-order/counter/builders.spec.ts
  standalone/src/models/recurring-order/counter/builders.ts
  standalone/src/models/recurring-order/counter/counter-draft/builders.spec.ts
  standalone/src/models/recurring-order/counter/counter-draft/builders.ts
  standalone/src/models/recurring-order/counter/counter-draft/fields-config.ts
  standalone/src/models/recurring-order/counter/counter-draft/index.ts
  standalone/src/models/recurring-order/counter/counter-draft/presets/index.ts
  standalone/src/models/recurring-order/counter/fields-config.ts
  standalone/src/models/recurring-order/counter/index.ts
  standalone/src/models/recurring-order/counter/presets/index.ts
  standalone/src/models/recurring-order/counter/types.ts
  standalone/src/models/recurring-order/index.ts
Owners: @commercetools/merchant-center-tech-leadership, @commercetools/test-automation-engineers

chore: correct compatPresets export for store model
  standalone/src/models/store/store/store-draft/presets/sample-data-b2b/index.ts
Owners: @commercetools/craft-team-fe

chore: add changeset
  .changeset/fast-pants-glow.md
Owners: none

chore: rewrite changeset
  .changeset/fast-pants-glow.md
Owners: none

chore: rewrite changeset
  .changeset/fast-pants-glow.md
Owners: none

chore: better format for changeset
  .changeset/fast-pants-glow.md
Owners: none

chore: correct compatPresets export for store model (#865)
  .changeset/fast-pants-glow.md
  standalone/src/models/store/store/store-draft/presets/sample-data-b2b/index.ts
Owners: @commercetools/craft-team-fe

fix(raw-custom-field): adding new type
  standalone/src/models/custom-fields/custom-fields-draft/fields-config.ts
  standalone/src/models/custom-fields/fields-config.ts
  standalone/src/models/custom-fields/index.ts
  standalone/src/models/custom-fields/presets/with-string-field.ts
  standalone/src/models/custom-fields/raw-custom-field/builders.spec.ts
  standalone/src/models/custom-fields/raw-custom-field/builders.ts
  standalone/src/models/custom-fields/raw-custom-field/fields-config.ts
  standalone/src/models/custom-fields/raw-custom-field/index.ts
  standalone/src/models/custom-fields/raw-custom-field/presets/index.ts
  standalone/src/models/custom-fields/raw-custom-field/types.ts
  standalone/src/models/type/custom-field-localized-enum-type/generator.ts
Owners: @commercetools/merchant-center-tech-leadership, @commercetools/test-automation-engineers

Update postBuild callback behaviour (#862)
  .changeset/public-experts-drive.md
  docs/contributing/test-data-models-overview.md
  docs/guidelines/creating-new-model.md
  docs/guidelines/migrating-existing-model.md
  standalone/src/core/builder.ts
  standalone/src/core/types.ts
  standalone/src/models/cart/cart/cart/fields-config.ts
  standalone/src/models/cart/cart/custom-line-item/builders.spec.ts
  standalone/src/models/cart/cart/custom-line-item/field-config.ts
  standalone/src/models/cart/cart/discounted-line-item-portion/discounted-line-item-portion-draft/builders.spec.ts
  standalone/src/models/cart/cart/discounted-line-item-portion/fields-config.ts
  standalone/src/models/cart/cart/discounted-total-price-portion/fields-config.ts
  standalone/src/models/cart/cart/line-item/field-config.ts
  standalone/src/models/cart/cart/shipping-info/fields-config.ts
  standalone/src/models/channel/fields-config.ts
  standalone/src/models/commons/discounted-line-item-portion/fields-config.ts
  standalone/src/models/inventory-entry/fields-config.ts
  standalone/src/models/product-type/attribute-definition/attribute-definition-draft/fields-config.ts
  standalone/src/models/product-type/attribute-definition/fields-config.ts
  standalone/src/models/product-type/attribute-localized-enum-value/fields-config.ts
  standalone/src/models/product-type/product-type/fields-config.ts
  standalone/src/models/product-type/product-type/product-type-draft/fields-config.ts
  standalone/src/models/product-type/product-type/product-type-draft/presets/empty.ts
  standalone/src/models/product/product-projection/fields-config.ts
  standalone/src/models/product/product-selection/fields-config.ts
  standalone/src/models/product/product-tailoring/product-tailoring-data/fields-config.ts
  standalone/src/models/product/product-tailoring/product-tailoring/fields-config.ts
  standalone/src/models/product/product/product-data/builders.spec.ts
  standalone/src/models/product/product/product-data/fields-config.ts
  standalone/src/models/recurring-order/recurrence-policy/fields-config.ts
  standalone/src/models/store/product-selection-setting/fields-config.ts
  standalone/src/models/store/store/fields-config.ts
Owners: @commercetools/merchant-center-tech-leadership, @commercetools/test-automation-engineers, @commercetools/checkout-team-fe, @commercetools/context-team-fe, @commercetools/pdm-team-fe

fix(json-type): fix custom field value type
  standalone/src/models/custom-fields/presets/with-all-field-types.ts
  standalone/src/models/custom-fields/raw-custom-field/builders.spec.ts
  standalone/src/models/custom-fields/raw-custom-field/types.ts
Owners: @commercetools/merchant-center-tech-leadership, @commercetools/test-automation-engineers

fix(json-type): fix custom field value type add comment
  standalone/src/models/custom-fields/raw-custom-field/types.ts
Owners: @commercetools/merchant-center-tech-leadership, @commercetools/test-automation-engineers

chore: first part of migrating category search
  standalone/src/models/category/category-search/builder.spec.ts
  standalone/src/models/category/category-search/builder.ts
  standalone/src/models/category/category-search/builders.spec.ts
  standalone/src/models/category/category-search/builders.ts
  standalone/src/models/category/category-search/fields-config.ts
  standalone/src/models/category/category-search/generator.ts
  standalone/src/models/category/category-search/index.ts
  standalone/src/models/category/category-search/presets/with-parent-and-ancestors.spec.ts
  standalone/src/models/category/category-search/presets/with-parent-and-ancestors.ts
  standalone/src/models/category/category-search/presets/with-parent.spec.ts
  standalone/src/models/category/category-search/presets/with-parent.ts
  standalone/src/models/category/category-search/transformers.ts
  standalone/src/models/category/category/builder.ts
  standalone/src/models/category/category/types.ts
Owners: @commercetools/pdm-team-fe

chore: add comment why there is not search mode rest
  standalone/src/models/category/category/types.ts
Owners: @commercetools/pdm-team-fe

refactor(category): adjust category-search model
  standalone/src/models/category/category-search/builders.spec.ts
  standalone/src/models/category/category-search/fields-config.ts
  standalone/src/models/category/category-search/index.ts
  standalone/src/models/category/category-search/presets/index.ts
  standalone/src/models/category/category-search/types.ts
  standalone/src/models/category/category/types.ts
  standalone/src/models/category/index.ts
Owners: @commercetools/pdm-team-fe
